*

!.gitignore
!crates/
!crates/**/*
!Cargo.toml
!Cargo.lock
!README.md
!LICENSE
!tests/
!tests/**/*
!demo.gif
!.github/
!.github/**/*
!dist-workspace.toml
!install.sh
!AGENTS.md
!CHANGELOG.md
!cliff.toml
!deny.toml
!rust-toolchain.toml
!rustfmt.toml
